.pausedLabel 
{
    font-size: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
}

.deadLabel
{
    font-size: 80px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: white; 
}