.todSlider
{
  position          : absolute;
  bottom            : 10px;
  right             : 10px;

  -webkit-appearance: none;
  appearance        : none;
  width             : 200px;
  height            : 6px;
  border            : 1px solid #fff;
  border-radius     : 3px;
  background-color  : rgba(66, 66, 66, 0.25);
  outline: none;
  opacity           : 0.75;
  -webkit-transition: opacity 0.2s;
  transition        : opacity 0.2s;
}

.todSlider:hover
{
  opacity: 1;
}

.todSlider::-webkit-slider-thumb
{
  -webkit-appearance    : none;
  appearance            : none;
  width                 : 20px;
  height                : 20px;
  cursor                : pointer;

  border                : 1px solid #fff;
  border-radius         : 50%;
  background-color      : rgba(66, 66, 66, 1);
}

.todSlider::-moz-range-thumb
{
  width               : 25px;
  height              : 25px;
  cursor              : pointer;

  border              : 1px solid #fff;
  border-radius       : 50%;
  background-color    : rgba(66, 66, 66, 1);
}
