html, body, main
{
  overflow        : hidden;
  width           : 100%;
  height          : 100%;
  display         : flex;
  flex-direction  : column;
  margin          : 0;
  background      : #000;

  font-family     : Roboto, Verdana, Geneva, sans-serif;
  font-weight     : 400;
  font-size       : 14px;
  color           : rgba(225, 225, 225, 1);
  text-align      : center;
}

a, a:visited
{
  color           : rgba(225, 225, 225, 1);
}

.defaultCanvas
{
  position  : absolute;
  width     : 100%;
  height    : 100%;
}
