.slider
{
  -webkit-appearance: none;
  appearance        : none;
  width             : 200px;
  height            : 6px;
  border            : 1px solid rgba(97, 97, 97, 1);
  border-radius     : 3px;
  background-color  : rgba(97, 97, 97, 0.33);
  outline: none;

  -webkit-transition: background-color 0.2s;
  transition        : background-color 0.2s;
}

.slider:hover
{
  background-color  : rgba(97, 97, 97, 0.66);
}

.slider::-webkit-slider-thumb
{
  -webkit-appearance    : none;
  appearance            : none;
  width                 : 20px;
  height                : 20px;
  cursor                : pointer;

  border-radius         : 50%;
  background-color      : rgba(97, 97, 97, 1);
}

.slider::-moz-range-thumb
{
  width               : 25px;
  height              : 25px;
  cursor              : pointer;

  border-radius       : 50%;
  background-color    : rgba(97, 97, 97, 1);
}
