#headerContainer
{
  height            : auto;
  width             : 100%;
  margin            : 0px 0px 0px 0px;
  padding           : 0px 0px 12px 0px;

  position          : fixed;

  border-radius     : 0px;
  background-color  : rgba(43, 41, 52, 0);
}

#headerList
{
  float     : left;

  height    : auto;
  width     : auto;
  padding   : 12px 0px 0px 0px;
  margin    : 0px 0px 0px 12px;
}

#headerList > li
{
  display             : inline-block;
}

.headerLink,
.headerLink-active
{
  cursor              : pointer;

  display             : inline-block;
  text-decoration     : none;
  text-transform      : capitalize;
  font-size           : 16px;

  margin              : 0px 10px 0px 10px;
  width               : auto;
  height              : auto;
  border-style        : solid;
  border-color        : rgba(225, 225, 225, 0);
  border-width        : 0px 0px 1px 0px;
  padding             : 0px 0px 5px 0px;

  -webkit-transition  : border-color 0.25s linear 0s, padding 0.25s linear 0s, margin 0.25s linear 0s;
  transition          : border-color 0.25s linear 0s, padding 0.25s linear 0s, margin 0.25s linear 0s;
}

.headerLink:hover
{
  border-color        : rgba(225, 225, 225, 1);
  padding             : 0px 5px 5px 5px;
  margin              : 0px 5px 0px 5px;

  -webkit-transition  : border-color 0.15s linear 0s, padding 0.15s linear 0s, margin 0.15s linear 0s;
  transition          : border-color 0.15s linear 0s, padding 0.15s linear 0s, margin 0.15s linear 0s;
}

.headerLink-active
{
  border-color        : rgba(225, 225, 225, 1);
  padding             : 0px 5px 5px 5px;
  margin              : 0px 5px 0px 5px;
}

#linksList
{
  float   : right;

  height  : auto;
  width   : auto;
  padding : 12px 0px 0px 0px;
  margin  : 0px 12px 0px 0px;
}

#linksList > li
{
  display             : inline-block;
}

.imageLink
{
  margin        : 0px 10px;
  padding-top   : 4px;
  width         : auto;
  height        : auto;

  position      : relative;
  display       : inline-block;

  -webkit-transition  : padding-top 0.3s ease-out 0.1s, margin 0.3s ease-out 0.1s;
  transition          : padding-top 0.3s ease-out 0.1s, margin 0.3s ease-out 0.1s;
}

.imageLink:hover
{
  padding-top   : 0px;
  margin        : 0px 8px;

  webkit-transition  : padding-top 0.1s ease-out 0s, margin 0.1s ease-out 0s;
  transition         : padding-top 0.1s ease-out 0s, margin 0.1s ease-out 0s;
}

.imageLinkIcon
{
  width   : 20px;
  height  : 20px;

  -webkit-transition  : width 0.3s ease-out 0.1s, height 0.3s ease-out 0.1s;
  transition          : width 0.3s ease-out 0.1s, height 0.3s ease-out 0.1s;
}

.imageLink:hover > .imageLinkIcon
{
  width   : 24px;
  height  : 24px;

  -webkit-transition  : width 0.1s ease-out 0s, height 0.1s ease-out 0s;
  transition          : width 0.1s ease-out 0s, height 0.1s ease-out 0s;
}

.toolTip
{
  pointer-events    : none;
  width             : auto;
  top               : 100%;
  left              : 50%;
  transform         : translateX(-50%);
  margin-top        : 24px;
  display           : inline-block;
  padding           : 6px;

  text-decoration   : none;
  text-align        : center;

  background-color  : rgba(0, 0, 0, 0);

  /* Position the tooltip */
  position          : absolute;
  z-index           : 1;

  /* Alpha */
  visibility        : visible;
  opacity           : 0;
  -webkit-transition: opacity 0.2s linear 0.05s, margin-top 0.25s ease-out 0s;
  transition        : opacity 0.2s linear 0.05s, margin-top 0.25s ease-out 0s;
}

.imageLink:hover > .toolTip
{
  visibility      : visible;
  opacity         : 1;
  margin-top      : 6px;

  -webkit-transition: opacity 0.1s linear 0.05s, margin-top 0.2s ease-out 0s;
  transition        : opacity 0.1s linear 0.05s, margin-top 0.2s ease-out 0s;
}

/*-------------------------------------------------------------
                    Responsive (width < 600)
-------------------------------------------------------------*/
@media screen and (max-width: 600px) {
  #headerContainer
  {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
  }

  #headerList
  {
    padding-bottom   : 12px;
  }
}
